#include <resource.h>
#include <winnls.h>

RID_ICON ICON keyboard.ico
1 24 commctrl6.manifest

STRINGTABLE LANGUAGE 0x09, 0x01 // en-US
BEGIN
	0xAE00,	"Acoustic Grand Piano"
	0xAE01,	"Bright Acoustic Piano"
	0xAE02,	"Electric Grand Piano"
	0xAE03,	"Honky-tonk Piano"
	0xAE04,	"Rhodes Piano"
	0xAE05,	"Chorused Piano"
	0xAE06,	"Harpsichord"
	0xAE07,	"Clavichord"
	0xAE08,	"Celesta"
	0xAE09,	"Glockenspiel"
	0xAE0A,	"Music box"
	0xAE0B,	"Vibraphone"
	0xAE0C,	"Marimba"
	0xAE0D,	"Xylophone"
	0xAE0E,	"Tubular Bells"
	0xAE0F,	"Dulcimer"
	0xAE10,	"Hammond Organ"
	0xAE11,	"Percussive Organ"
	0xAE12,	"Rock Organ"
	0xAE13,	"Church Organ"
	0xAE14,	"Reed Organ"
	0xAE15,	"Accordian"
	0xAE16,	"Harmonica"
	0xAE17,	"Tango Accordian"
	0xAE18,	"Acoustic Guitar (nylon)"
	0xAE19,	"Acoustic Guitar (steel)"
	0xAE1A,	"Electric Guitar (jazz)"
	0xAE1B,	"Electric Guitar (clean)"
	0xAE1C,	"Electric Guitar (muted)"
	0xAE1D,	"Overdriven Guitar"
	0xAE1E,	"Distortion Guitar"
	0xAE1F,	"Guitar Harmonics"
	0xAE20,	"Acoustic Bass"
	0xAE21,	"Electric Bass(finger)"
	0xAE22,	"Electric Bass (pick)"
	0xAE23,	"Fretless Bass"
	0xAE24,	"Slap Bass 1"
	0xAE25,	"Slap Bass 2"
	0xAE26,	"Synth Bass 1"
	0xAE27,	"Synth Bass 2"
	0xAE28,	"Violin"
	0xAE29,	"Viola"
	0xAE2A,	"Cello"
	0xAE2B,	"Contrabass"
	0xAE2C,	"Tremolo Strings"
	0xAE2D,	"Pizzicato Strings"
	0xAE2E,	"Orchestral Harp"
	0xAE2F,	"Timpani"
	0xAE30,	"String Ensemble 1"
	0xAE31,	"String Ensemble 2"
	0xAE32,	"Synth Strings 1"
	0xAE33,	"Synth Strings 2"
	0xAE34,	"Choir Aahs"
	0xAE35,	"Voice Oohs"
	0xAE36,	"Synth Voice"
	0xAE37,	"Orchestra Hit"
	0xAE38,	"Trumpet"
	0xAE39,	"Trombone"
	0xAE3A,	"Tuba"
	0xAE3B,	"Muted Trumpet"
	0xAE3C,	"French Horn"
	0xAE3D,	"Brass Section"
	0xAE3E,	"Synth Brass 1"
	0xAE3F,	"Synth Brass 2"
	0xAE40,	"Soprano Sax"
	0xAE41,	"Alto Sax"
	0xAE42,	"Tenor Sax"
	0xAE43,	"Baritone Sax"
	0xAE44,	"Oboe"
	0xAE45,	"English Horn"
	0xAE46,	"Bassoon"
	0xAE47,	"Clarinet"
	0xAE48,	"Piccolo"
	0xAE49,	"Flute"
	0xAE4A,	"Recorder"
	0xAE4B,	"Pan Flute"
	0xAE4C,	"Bottle Blow"
	0xAE4D,	"Shakuhachi"
	0xAE4E,	"Whistle"
	0xAE4F,	"Ocarina"
	0xAE50,	"Lead 1 (square)"
	0xAE51,	"Lead 2 (sawtooth)"
	0xAE52,	"Lead 3 (caliope lead)"
	0xAE53,	"Lead 4 (chiff lead)"
	0xAE54,	"Lead 5 (charang)"
	0xAE55,	"Lead 6 (voice)"
	0xAE56,	"Lead 7 (fifths)"
	0xAE57,	"87 Lead 8 (bass+lead) "
	0xAE58,	"Pad 1 (new age)"
	0xAE59,	"Pad 2 (warm)"
	0xAE5A,	"Pad 3 (polysynth)"
	0xAE5B,	"Pad 4 (choir)"
	0xAE5C,	"Pad 5 (bowed)"
	0xAE5D,	"Pad 6 (metallic)"
	0xAE5E,	"Pad 7 (halo)"
	0xAE5F,	"Pad 8 (sweep)"
	0xAE60,	"FX 1 (rain)"
	0xAE61,	"FX 2 (soundtrack)"
	0xAE62,	"FX 3 (crystal)"
	0xAE63,	"FX 4 (atmosphere)"
	0xAE64,	"FX 5 (brightness)"
	0xAE65,	"FX 6 (goblins)"
	0xAE66,	"FX 7 (echoes)"
	0xAE67,	"FX 8 (sci-fi)"
	0xAE68,	"Sitar"
	0xAE69,	"Banjo"
	0xAE6A,	"Shamisen"
	0xAE6B,	"Koto"
	0xAE6C,	"Kalimba"
	0xAE6D,	"Bagpipe"
	0xAE6E,	"Fiddle"
	0xAE6F,	"Shanai"
	0xAE70,	"Tinkle Bell"
	0xAE71,	"Agogo"
	0xAE72,	"Steel Drums"
	0xAE73,	"Woodblock"
	0xAE74,	"Taiko Drum"
	0xAE75,	"Melodic Tom"
	0xAE76,	"Synth Drum"
	0xAE77,	"Reverse Cymbal"
	0xAE78,	"Guitar Fret Noise"
	0xAE79,	"Breath Noise"
	0xAE7A,	"Seashore"
	0xAE7B,	"Bird Tweet"
	0xAE7C,	"Telephone Ring"
	0xAE7D,	"Helicopter"
	0xAE7E,	"Applause"
	0xAE7F,	"Gunshot"
END
